.banner{
    background-image: url("../../assets/Photos/banner/form_bg.jpg");
    height: max-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}